<div class="card mb-4">
    <div class="card-header">
      {{ elem.date_published }}
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ elem.title }}
      </h5>
      <p class="card-text">
        {{ elem.body }}
      </p>
      <a href='{{ elem.get_absolute_url }}' class="btn btn-light">>>></a>
    </div>
    <div class="card-footer text-muted">
        tags:
        {% for tag in elem.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>  
        {% endfor %}  
    </div>
</div>